#welcome {
  height: 1000px;
  background-image: url("./images/food-pyramid-pizza.jpg");
  background-position: center 200px;
  background-repeat: no-repeat;
  background-size: 75%;
  text-align: center;
}

#delivery {
  display: none;
}

#crust {
  display: none;
}

#sauce {
  display: none;
}

#cheese {
  display: none;
}

#toppings {
  display: none;
}

#pizza-price {
  display: none;
}
