#welcome {
  height: 750px;
  background-image: url("./images/food-pyramid-pizza.jpg");
  background-position: center 300px;
  background-repeat: no-repeat;
  background-size: 60%;
  text-align: center;
  /*display: none;*/
}

.minimizedDiv {
  height: 27px;
  font-size: 20spx;
  background-color: #444;
  color: #f00;
  text-align: center;
  cursor: pointer;
  border-bottom: 3px solid #fff;
  margin-bottom: 2px;
  overflow: hidden;
  display: none;
}

#crust {
  height: 750px;
  background-image: url("./images/pizza-crust.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 100% 0px;
  display: none;
}

#sauce {
  display: none;
}

#cheese {
  display: none;
}

#toppings {
  display: none;
}

#pizza-price {
  display: none;
}

input[type=text] { text-align: center; }
