h4 {
  font-size: 11px;
}

#welcome {
  height: 750px;
  background-image: url("./images/food-pyramid-pizza.jpg");
  background-position: center 260px;
  background-repeat: no-repeat;
  background-size: 64%;
  text-align: center;
  /*display: none;*/
}

.minimizedDiv {
  height: 30px;
  font-size: 20spx;
  background-color: #444;
  color: #f00;
  text-align: center;
  cursor: pointer;
  border-bottom: 3px solid #fff;
  margin-bottom: 2px;
  overflow: hidden;
  display: none;
}

#crust {
  height: 750px;
  background-image: url("./images/pizza-crust.jpg");
  background-repeat: no-repeat;
  background-size: 73%;
  background-position: 100% 0px;
  display: none;
}

#sauce {
  height: 750px;
  background-image: url("./images/pizza-sauce.jpg");
  background-repeat: no-repeat;
  background-size: 73%;
  background-position: 100% 0px;
  display: none;
}

#cheese {
  height: 750px;
  background-image: url("./images/pizza-cheese.jpg");
  background-repeat: no-repeat;
  background-size: 73%;
  background-position: 100% 0px;
  display: none;
}

#meat {
  height: 750px;
  background-image: url("./images/meat2.jpg");
  background-repeat: no-repeat;
  background-size: 73%;
  background-position: 100% 0px;
  display: none;
}

#veggies {
  height: 750px;
  background-image: url("./images/Confetti-Pizza-Veggies.jpg");
  background-repeat: no-repeat;
  background-size: 73%;
  background-position: 100% 0px;
  display: none;
}

#price {
  text-align: center;
  font-size: 20px;
  display: none;
}

input[type=text] { text-align: center; }
